@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #003366;
    box-sizing: content-box;
    font-family: roboto, Verdana, Tahoma, sans-serif;
}
body {
    color: #F5F5F5;
}

.logo {
    border-radius: 50px;
}

header {
    padding: 10px;
    background-color: #00B8D4;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    justify-content: space-between;
}


.menu {
    background-color: #00B8D4;
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding-right: 20px;
    padding-left: 20px;
}
nav {
    background-color: #00B8D4;
}

.menu-item {
    background-color: #00B8D4;
    color: #003366;
    text-decoration: none;
}

/*colectivos*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 5%;
}

.item {
    border: 2px #00B8D4 solid;
    border-radius: 15px;
    text-align: center;
    padding: 16px;
    padding-bottom: 8px;
    font-size: small;
    width: 120px;
}

.image-container {
  overflow: hidden; /* impide que la imagen que se salga del contenedor */
}


.image-container:hover img {
  transform: scale(1.7); /* Aplica el zoom al pasar el cursor */
}

.descripcion-item {
    text-align: left;
    margin-left: 8px;
}

.bt-item {
    background-color: #003366;
    color: #F5F5F5;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 13px;
    font-size: smaller;
    width: 60%;
    height: 12px;
    margin-bottom: 32px;
}

.bt-item:hover {
    background-color: #00B8D4;
    color: #F5F5F5;
    cursor: pointer;
}

/*Contacto*/
.form-section {
    text-align: center;
    border: 2px #00B8D4 solid;
    border-radius: 10px;
    background-color: #00B8D4;
    color: #F5F5F5;
    padding-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00B8D4;
}

.form-tit {
    background-color: #00B8D4;
}

.form-item {
    justify-content: space-between;
    border-radius: 8px;
    background-color: #F5F5F5;
    width: 40%;
    gap: 2px;
    font-size: clamp(8px, 8vw, 16px);

}


.form-bt {
    color: #F5F5F5;
    border-radius: 12px;
    font-size: small;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 35%;
}

.form-bt:hover {
    color: #F5F5F5;
    background-color: #00B8D4;
    cursor: pointer;
}

.msg {
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
    display: none;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px 10px 10px;
    flex-direction: column;
}
.copyright {
    text-align: center;
    font-size: small;
}
.logos-footer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

@media only screen and (max-width:400px)
{
    header {
        flex-direction: column;
    }
}

@media only screen and (min-width:760px)
{
.descripcion-item {
    font-size: medium;
}
}